<h1>
    <%= title %>
</h1>

<%- messages() %>

    <form action="/inv/add-inventory" method="post">

        <!-- MAKE -->
        <label for="inv_make">Make</label>
        <input type="text" name="inv_make" id="inv_make" required pattern="^[A-Za-z0-9 ]+$"
            value="<%= locals.inv_make || '' %>">

        <!-- MODEL -->
        <label for="inv_model">Model</label>
        <input type="text" name="inv_model" id="inv_model" required pattern="^[A-Za-z0-9 ]+$"
            value="<%= locals.inv_model || '' %>">

        <!-- YEAR -->
        <label for="inv_year">Year</label>
        <input type="number" name="inv_year" id="inv_year" required min="1900" max="2099"
            value="<%= locals.inv_year || '' %>">

        <!-- CLASSIFICATION -->
        <label for="classification_id">Classification</label>
        <%- classificationList %>

            <!-- PRICE -->
            <label for="inv_price">Price</label>
            <input type="number" name="inv_price" id="inv_price" required min="0" step="0.01"
                value="<%= locals.inv_price || '' %>">

            <!-- MILES -->
            <label for="inv_miles">Miles</label>
            <input type="number" name="inv_miles" id="inv_miles" required min="0" value="<%= locals.inv_miles || '' %>">

            <!-- DESCRIPTION -->
            <label for="inv_description">Description</label>
            <textarea name="inv_description" id="inv_description"
                required><%= locals.inv_description || '' %></textarea>

            <!-- REQUIRED DEFAULT IMAGES -->
            <input type="hidden" name="inv_image" value="/images/vehicles/no-image.png">
            <input type="hidden" name="inv_thumbnail" value="/images/vehicles/no-image-tn.png">

            <button type="submit">Add Inventory</button>
    </form>

    <% if (errors) { %>
        <ul class="errors">
            <% errors.forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>